<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dowload mp3 playlist</title>
  </head>
  <body>
    <form action="/" method="POST">
      <label for="playlistLink">Playlist Link</label>
      <input
        type="url"
        id="playlistLink"
        name="playlistLink"
        placeholder="https://www.youtube.com/playlist"
      />

      <label for="localStorage">Folder Local Storage</label>
      <input
        type="text"
        id="localStorage"
        name="localStorage"
        placeholder="C://example/folder"
      />

      <button type="submit">Preapare</button>
    </form>
  </body>
</html>
